<h1>Your Personal Dashboard</h1>

<p>Hi <%= current_user.nickname %></p>

<p>Your registered email address is <%= current_user.email %></p>

<p> Param A is <%= params[:A] %></p>

<p> Param B is <%= params[:B] %></p>

<p>You can only see this page after successfully completing two factor authentication</p>
